<form nz-form [formGroup]="budgetDataForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="propertyValue">
      Valor do imóvel
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input class="form-control"
             type="text"
             formControlName="propertyValue"
             id="propertyValue"
             prefix="R$ " mask="dot_separator.2">
      <nz-form-explain
        *ngIf="
          budgetDataForm.get('propertyValue')?.dirty &&
          budgetDataForm.get('propertyValue')?.errors
        "
      >
        {{ validationsMessages.propertyValueError }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="interestRate">
      Taxa de juros
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input [dropSpecialCharacters]="false"
             [validation]="false"
             class="form-control"
             formControlName="interestRate"
             id="interestRate"
             mask="percent.2"
             required
             suffix="%" type="text">
      <nz-form-explain
        *ngIf="
          budgetDataForm.get('interestRate')?.dirty &&
          budgetDataForm.get('interestRate')?.errors
        "
      >
        {{ validationsMessages.interestRateError }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="installmentNumber">
      Numero de parcelas
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input class="form-control"
             formControlName="installmentNumber"
             id="installmentNumber"
             mask="099999"
             type="text">
      <nz-form-explain
        *ngIf="
          budgetDataForm.get('installmentNumber')?.dirty &&
          budgetDataForm.get('installmentNumber')?.errors
        ">
        {{ validationsMessages.installmentNumberError }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>
