<nz-layout class="layout">
  <nz-header>
    <app-header></app-header>
  </nz-header>
  <nz-content class="container-fluid">
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer style="text-align: center;">
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>
