<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h5>Faça aqui a simulação do seu orçamento.</h5>
  </div>
  <div>

    <nz-steps [nzCurrent]="currentStep">
      <nz-step nzTitle="Dados da Simulação"></nz-step>
      <nz-step nzTitle="Dados Pessoais"></nz-step>
    </nz-steps>

    <ng-container [ngSwitch]="currentStep">
      <app-budget-data-create (getBudgetData)="getBudgetData($event)"
                              *ngSwitchCase="0"
                              [budgetData]="budgetData"
      ></app-budget-data-create>
      <app-user-create (getUserData)="getUserData($event)"
                       *ngSwitchCase="1"
                       [user]="user"
      ></app-user-create>
    </ng-container>

    <div class="steps-action justify-content-center">
      <button (click)="validFormAndGoToNextStep()" *ngIf="currentStep < 1" nz-button nzType="default">
        <span>Proxima</span>
      </button>
      <button (click)="preStep()" *ngIf="currentStep > 0" nz-button nzType="default">
        <span>Anterior</span>
      </button>
      <ng-container *ngIf="currentStep > 0">
        <button (click)="validFormAndGoToNextStep('price')" nz-button nzType="default">
          <span>Calcular - Price</span>
        </button>

        <button (click)="validFormAndGoToNextStep('sac')" nz-button nzType="default">
          <span>Calcular - Sac</span>
        </button>
      </ng-container>
    </div>
  </div>
</div>
