<ul nz-menu [nzMode]="'horizontal'" nzTheme='dark'>
  <li nz-menu-item>
    <a [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['']" routerLinkActive="active">
      <i nz-icon nzType="diff" nzTheme="outline"></i>
      Fazer simulação
    </a>
  </li>
  <li nz-menu-item>
    <a [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['consultar']" routerLinkActive="active">
      <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
      Consultar simulações
    </a>
  </li>
</ul>
