<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h5>Consulte aqui os orçamentos já cadastrados.</h5>
  </div>

  <div>
    <form nz-form [formGroup]="userEmailForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">
          Endereço de e-mail
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input class="form-control"
                 type="text"
                 formControlName="email"
                 id="email">
          <nz-form-explain
            *ngIf="
          userEmailForm.get('email')?.dirty &&
          userEmailForm.get('email')?.errors">
            {{ validationsMessages.emailError}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <button (click)="search()" nz-button nzType="default">
          <span>Consultar</span>
        </button>
      </nz-form-item>

    </form>
  </div>
  <div *ngIf="showResult" class="bg-white">
    <app-budget-page [result]="pageResult" [email]="userEmail"></app-budget-page>
  </div>
</div>
