<nz-table #basicTable [nzData]="result" nzShowPagination="false">
  <thead>
  <tr>
    <th>Saldo Inicial</th>
    <th>Taxa de Juros</th>
    <th>Saldo com Juros</th>
    <th>Amortização</th>
    <th>Valor da Parcela</th>
    <th>Saldo Atualizado</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.openingBalance | currency:'BRL':'symbol':'0.0-2':'pt'}}</td>
    <td>{{ data.interestRate | currency:'BRL':'symbol':'0.0-2':'pt'}}</td>
    <td>{{ data.openingBalanceWithInterestRate | currency:'BRL':'symbol':'0.0-2':'pt'}}</td>
    <td>{{ data.amortization | currency:'BRL':'symbol':'0.0-2':'pt'}}</td>
    <td>{{ data.installmentValue | currency:'BRL':'symbol':'0.0-2':'pt'}}</td>
    <td>{{ data.balanceUpdated | currency:'BRL':'symbol':'0.0-2':'pt'}}</td>
  </tr>
  </tbody>
</nz-table>
