<form nz-form [formGroup]="userForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">
      Nome
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input formControlName="name" id="name" nz-input/>
      <nz-form-explain
        *ngIf="userForm.get('name')?.dirty && userForm.get('name')?.errors"
      >
        {{ validationsMessages.nameError }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">
      E-mail
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input formControlName="email" id="email" nz-input/>
      <nz-form-explain
        *ngIf="userForm.get('email')?.dirty && userForm.get('email')?.errors"
      >
        {{ validationsMessages.emailError }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>
