<nz-table #ajaxTable
          nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="result.content"
          [nzTotal]="result.totalElements"
          [(nzPageIndex)]="result.number"
          [(nzPageSize)]="result.size"
          (nzPageIndexChange)="searchData()"
          nzShowSizeChanger="false">
  <thead>
  <tr>
    <th>Valor do Imovel</th>
    <th>Taxa de Juros</th>
    <th>Numero de parcelas</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of ajaxTable.data">
    <td>{{ data.propertyValue | currency:'BRL':'symbol':'0.0-2':'pt'}}</td>
    <td>{{ data.interestRate | number:'0.0-2'}}%</td>
    <td>{{ data.installmentNumber }}</td>
  </tr>
  </tbody>
</nz-table>
